


.text{
    text-align: center;
    
}

.statustable{
    width: 50%;
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}


.cotainer1{

    margin: 20px;
    
}

.clubs{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}


#clbnm {

    font-weight: bold;
    text-align: center;
}


.cotainer2{
    background-color: aquamarine;
    border-radius: 23px;
    padding: 23px;
    margin: 20px;
}

.date{
    font-weight: bold;
    text-align: left;
}

.start{
    font-weight: bold;
    text-align: right;
}



.con1 {
    border-radius: 20px; 
    color: rgb(13, 13, 13); 
    display: flex; 
    border: 2px solid black; 
    padding: 20px;
    background-color: #e4ee8b;
    margin: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 200px;
}

.clubs{
    height: 20px;
    padding: 10px;
    margin: 10px;
}