<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AUDITORIUM</title>
    {% load static %} 

    
    <link rel="stylesheet" href="{% static 'audi.css' %}" />
  </head>
  <body>
    <div class="text" id="AUDITORIUM">
      <h3>AUDITORIUM</h3>
    </div>

    <form action="{% url 'myapp:audi' %}" method="post">
      {% csrf_token %}
      <div class="container2">
        <div class="con1">
          <label class="clubs" for="clubs">Select the club name:</label>
          <select class="clubs" id="clubs" name="clubs">
            <option value="" class="clbnm" disabled selected>-----</option>
            <option id="ACM" value="ACM">ACM</option>
            <option id="IEEE" value="IEEE">IEEE</option>
            <option id="ROTARACT" value="Rotaract">Rotaract</option>
            <option id="NSS" value="Lions Club">NSS</option>
          </select>

          <div class="date">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" />
          </div>

          <div class="start">
            <label for="from">Start</label>
            <input type="time" id="from" name="from" />
          </div>

          <div class="end">
            <label for="to">End</label>
            <input type="time" id="to" name="to" />
          </div>

          <div class="submit">
            <input class="submit" name="submit" type="submit" value="Submit" />
          </div>
        </div>
      </div>
    </form>

    <div class="container1">
      <div class="status" id="refresh">
        <table class="statustable">
          <tr id="tr1">
            <th>Club Name</th>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
          </tr>

          {% for booking in bookings %}
          <tr id="tr1">
            <td>{{ booking.club_name }}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.start_time }}</td>
            <td>{{ booking.end_time }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

     <form action="{% url 'myapp:audi' %}" method="get" style="text-align: right; margin-top: 10px;">
      <button type="submit" class="mvhall-btn">MV Hall</button>
    </form>

    <form action="{% url 'myapp:logoutUser' %}" method="post" style="text-align: right; margin-top: 20px;">
      {% csrf_token %} 
      <button type="submit" class="logout-btn">Logout</button>
  </body>
</html>
