<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <!-- <form method="POST" action="{% url 'myapp:loginPageMVhall' %}"> -->
        <form method="POST" action="{% url 'myapp:loginPage' %}">
          {% csrf_token %}
          <h1>Create Account</h1>
          {{ form.username.label_tag }}
          {{ form.username }} 
          {{form.email.label_tag }}
          {{ form.email }} 
          {{ form.password1.label_tag}}
          {{ form.password1 }} {{ form.password2.label_tag }}
          {{ form.password2}}
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <!-- Django Form for Login -->
        <!-- <form action="{% url 'myapp:regMVhall' %}" method="POST"> -->
        <form action="{% url 'myapp:registerPage' %}" method="POST">
          {% csrf_token %}
          <h1>Login</h1>
          <input type="username" name="username" placeholder="username" required />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required />
          <a href="#">Forgot Your Password</a>
          <button type="submit">Login</button>
        </form>
      </div>
      {%for message in messages%}
      <p id="messages">{{message}}</p>
      {%endfor %}

      <!-- Overlay Container -->
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <p>
              To keep connected with us, please login with your personal info
            </p>
            <button class="ghost" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello!</h1>
            <p>
              Enter your details to sign up and start booking the Auditorium.
            </p>
            <button class="ghost" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      const signUpButton = document.getElementById("signUp");
      const signInButton = document.getElementById("signIn");
      const container = document.getElementById("container");

      signUpButton.addEventListener("click", () => {
        container.classList.add("right-panel-active");
      });

      signInButton.addEventListener("click", () => {
        container.classList.remove("right-panel-active");
      });

      const errorMessage = "{{ error_message }}";
      if (errorMessage) {
        alert(errorMessage);
      }
    </script>
  </body>
</html>
